<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>הספריה הביתית של אלי ברקוביץ</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <style>
        body { padding-top:50px; }
    </style>

    <!-- JS -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="app.js"></script>

</head>
<body dir="rtl">
<div class="container" ng-app="sortApp" ng-controller="mainController">

    <div class="alert alert-info">
        <p>Sort Type: {{ sortType }}</p>
        <p>Sort Reverse: {{ sortReverse }}</p>
        <p>Search Query: {{ searchFish }}</p>
    </div>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search a Book" ng-model="searchFish">
            </div>
        </div>
    </form>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>
                <a href="#" ng-click="sort('id')">
                    ID
                    <span ng-show="sortType == 'id' && sortReverse==false" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'id' && sortReverse==true" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sort('writers')">
                    Writers
                    <span ng-show="sortType == 'writers' && sortReverse==false" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'writers' && sortReverse==true" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sort('title')">
                    Title
                    <span ng-show="sortType == 'title' && sortReverse==false" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'title' && sortReverse==true" class="fa fa-caret-up"></span>
                </a>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="book in books | orderBy:sortType:sortReverse | filter:searchFish">
            <td>{{ book.id }}</td>
            <td>{{ book.writers }}</td>
            <td>{{ book.title }}</td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>