<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>הספריה הביתית של אלי ברקוביץ</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="app.js"></script>

</head>
<body dir="rtl">
<h2 style="text-align: center">הספריה הביתית של אלי</h2>
<div class="container" ng-app="sortApp" ng-controller="mainController">

    <div class="alert alert-info" style="display: none">
        <p>Sort Type: {{ sortType }}</p>
        <p>Sort Reverse: {{ sortReverse }}</p>
        <p>Search Query: {{ searchBook }}</p>
    </div>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="חיפוש ספר" ng-model="searchBook">
            </div>
        </div>
    </form>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>&nbsp;</td>
            <td style="width:60px">&nbsp;</td>
            <td>
                    מספר
            </td>
            <td>
                <a href ng-click="sort('writers')">
                    מחבר/מחברים
                    <span ng-show="sortType == 'writers' && sortReverse==false" class="fa fa-caret-up"></span>
                    <span ng-show="sortType == 'writers' && sortReverse==true" class="fa fa-caret-down"></span>
                </a>
            </td>
            <td>
                <a href ng-click="sort('title')">
                    כותרת
                    <span ng-show="sortType == 'title' && sortReverse==false" class="fa fa-caret-up"></span>
                    <span ng-show="sortType == 'title' && sortReverse==true" class="fa fa-caret-down"></span>
                </a>
            </td>
            <td>
                <a href ng-click="sort('series')">
                    סדרה
                    <span ng-show="sortType == 'series' && sortReverse==false" class="fa fa-caret-up"></span>
                    <span ng-show="sortType == 'series' && sortReverse==true" class="fa fa-caret-down"></span>
                </a>
            </td>
            <td>
                <a href ng-click="sort('volumes')">
                    כרכים
                    <span ng-show="sortType == 'volumes' && sortReverse==false" class="fa fa-caret-up"></span>
                    <span ng-show="sortType == 'volumes' && sortReverse==true" class="fa fa-caret-down"></span>
                </a>
            </td>
            <td>
                <a href ng-click="sort('copies')">
                    עותקים
                    <span ng-show="sortType == 'copies' && sortReverse==false" class="fa fa-caret-up"></span>
                    <span ng-show="sortType == 'copies' && sortReverse==true" class="fa fa-caret-down"></span>
                </a>
            </td>
            <td>
                <a href ng-click="sort('date_created')">
                    תאריך
                    <span ng-show="sortType == 'date_created' && sortReverse==false" class="fa fa-caret-up"></span>
                    <span ng-show="sortType == 'date_created' && sortReverse==true" class="fa fa-caret-down"></span>
                </a>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="book in books | orderBy:sortType:sortReverse | filter:searchBook">
            <td>
                <a href ng-click="deleteRecord(book)"><i ng-if="book.id>-1" class="fa fa-trash"></i></a>
            </td>
            <td>
                <a href target="_self" ng-click="editRecord(book,$index)"><i ng-if="book.id>-1" ng-hide="editMode==true&&editableRowIndex==$index" class="fa fa-pencil"></i></a>
                <a href target="_self" ng-click="addRecord(book)"><i ng-if="book.id==-1" ng-hide="editMode==true&&editableRowIndex==$index" class="fa fa-plus"></i></a>
                <a href target="_self" ng-click="confirmEdit(book)"><i ng-show="editMode==true&&editableRowIndex==$index" class="fa fa-check"></i></a>
                <a href target="_self" ng-click="cancelEdit(book)"><i ng-show="editMode==true&&editableRowIndex==$index" class="fa fa-ban"></i></a>
            </td>
            <td>{{ $index>0 ? $index : '' }}</td>
            <td style="padding: 5px 0 0 0">
                <span ng-hide="editMode==true&&editableRowIndex==$index">{{ book.writers }}</span>
                <input style="width: 100%" type="text" ng-show="editMode==true&&editableRowIndex==$index" ng-model="book.writers">
            </td>
            <td style="padding: 5px 0 0 0">
                <span ng-hide="editMode==true&&editableRowIndex==$index">{{ book.title }}</span>
                <input style="width:100%" type="text" ng-show="editMode==true&&editableRowIndex==$index" ng-model="book.title">
            </td>
            <td style="padding: 5px 0 0 0">
                <span ng-hide="editMode==true&&editableRowIndex==$index">{{ book.series }}</span>
                <input style="width:100%" type="text" ng-show="editMode==true&&editableRowIndex==$index" ng-model="book.series">
            </td>
            <td style="padding: 5px 0 0 0">
                <span ng-if="book.volumes>1" ng-hide="editMode==true&&editableRowIndex==$index">{{ book.volumes }}</span>
                <input style="width:50px" type="number" ng-show="editMode==true&&editableRowIndex==$index" ng-model="book.volumes">
            </td>
            <td style="padding: 5px 0 0 0">
                <span ng-if="book.copies>1" ng-hide="editMode==true&&editableRowIndex==$index">{{ book.copies }}</span>
                <input style="width:50px" type="number" ng-show="editMode==true&&editableRowIndex==$index" ng-model="book.copies">
            </td>
            <td>{{ book.date_created | date }}</td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>